# District Cleaning â€” Andhra Pradesh

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [2]:
STATE_NAME = "Andhra Pradesh"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Andhra Pradesh
Number of unique districts: 32

                   District Name
0          Alluri Sitharama Raju
1                     Anakapalli
2                      Anantapur
3                     Ananthapur
4                  Ananthapuramu
5                      Annamayya
6                        Bapatla
7                       Chittoor
8                       Cuddapah
9   Dr. B. R. Ambedkar Konaseema
10                 East Godavari
11                         Eluru
12                        Guntur
13                      Kakinada
14                       Krishna
15                       Kurnool
16                       N. T. R
17                       Nandyal
18                       Nellore
19                       Palnadu
20          Parvathipuram Manyam
21                      Prakasam
22                  Spsr Nellore
23   Sri Potti Sriramulu Nellore
24                Sri Sathya Sai
25                    Srikakulam
26                      Tirupati
27                Visakhapatanam
28                 Visakhapatnam
29                  Vizianagaram
30                 West Godavari
31                       Y. S. R

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [3]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Ananthapuramu": ["Anantapur", "Ananthapur"],
    "Sri Potti Sriramulu Nellore": ["Nellore", "Spsr Nellore"],
    "NTR": ["Ntr"],
    "Visakhapatnam": ["Visakhapatanam"],
    "Y.S.R. Kadapa": ["Cuddapah", "Y. S. R"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Ananthapuramu : 150 rows fixed
âœ” Enrolment â†’ Sri Potti Sriramulu Nellore : 128 rows fixed
âœ” Enrolment â†’ Visakhapatnam : 1 rows fixed
âœ” Enrolment â†’ Y.S.R. Kadapa : 137 rows fixed
âœ” Demographic â†’ Ananthapuramu : 780 rows fixed
âœ” Demographic â†’ Sri Potti Sriramulu Nellore : 424 rows fixed
âœ” Demographic â†’ Y.S.R. Kadapa : 659 rows fixed
âœ” Biometric â†’ Ananthapuramu : 2812 rows fixed
âœ” Biometric â†’ Sri Potti Sriramulu Nellore : 1344 rows fixed
âœ” Biometric â†’ Y.S.R. Kadapa : 1707 rows fixed
âœ… Total fixes in Andhra Pradesh: 8142

In [4]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)