# District Cleaning â€” Bihar

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [5]:
STATE_NAME = "Bihar"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Bihar
Number of unique districts: 38

         District Name
0               Araria
1                Arwal
2           Aurangabad
3                Banka
4            Begusarai
5            Bhagalpur
6              Bhojpur
7                Buxar
8            Darbhanga
9                 Gaya
10           Gopalganj
11               Jamui
12           Jehanabad
13     Kaimur (Bhabua)
14             Katihar
15            Khagaria
16          Kishanganj
17          Lakhisarai
18           Madhepura
19           Madhubani
20              Munger
21         Muzaffarpur
22             Nalanda
23              Nawada
24  Pashchim Champaran
25               Patna
26     Purbi Champaran
27              Purnia
28              Rohtas
29             Saharsa
30          Samastipur
31               Saran
32          Sheikhpura
33             Sheohar
34           Sitamarhi
35               Siwan
36              Supaul
37            Vaishali

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [3]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Aurangabad": ["Aurangabad(Bh)"],
    "Kaimur (Bhabua)": ["Bhabua"],
    "Purbi Champaran": ["East Champaran", "Purba Champaran"],
    "Munger": ["Monghyr"],
    "Purnia": ["Purnea"],
    "Samastipur": ["Samstipur"],
    "Sheikhpura": ["Sheikpura"],
    "Pashchim Champaran": ["West Champaran"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Aurangabad : 2 rows fixed
âœ” Enrolment â†’ Kaimur (Bhabua) : 2 rows fixed
âœ” Enrolment â†’ Purbi Champaran : 118 rows fixed
âœ” Enrolment â†’ Munger : 3 rows fixed
âœ” Enrolment â†’ Purnia : 5 rows fixed
âœ” Enrolment â†’ Samastipur : 2 rows fixed
âœ” Enrolment â†’ Sheikhpura : 2 rows fixed
âœ” Enrolment â†’ Pashchim Champaran : 60 rows fixed
âœ” Demographic â†’ Aurangabad : 25 rows fixed
âœ” Demographic â†’ Kaimur (Bhabua) : 3 rows fixed
âœ” Demographic â†’ Purbi Champaran : 280 rows fixed
âœ” Demographic â†’ Munger : 10 rows fixed
âœ” Demographic â†’ Purnia : 32 rows fixed
âœ” Demographic â†’ Samastipur : 34 rows fixed
âœ” Demographic â†’ Sheikhpura : 9 rows fixed
âœ” Demographic â†’ Pashchim Champaran : 122 rows fixed
âœ” Biometric â†’ Aurangabad : 32 rows fixed
âœ” Biometric â†’ Kaimur (Bhabua) : 6 rows fixed
âœ” Biometric â†’ Purbi Champaran : 750 rows fixed
âœ” Biometric â†’ Munger : 14 rows fixed
âœ” Biometric â†’ Purnia : 81 rows fixed
âœ” Biometric â†’ Samastipur : 27 rows fixed
âœ” Biometric â†’ Sheikhpura : 17 rows fixed
âœ” Biometric â†’ Pashchim Champaran : 333 rows fixed
âœ… Total fixes in Bihar: 1969

In [4]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)