# District Cleaning â€” Gujarat

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [5]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [9]:
STATE_NAME = "Gujarat"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Gujarat
Number of unique districts: 33

      District Name
0         Ahmedabad
1            Amreli
2             Anand
3           Arvalli
4      Banas Kantha
5           Bharuch
6         Bhavnagar
7             Botad
8      Chhotaudepur
9             Dahod
10            Dangs
11  Devbhumi Dwarka
12      Gandhinagar
13      Gir Somnath
14         Jamnagar
15         Junagadh
16          Kachchh
17            Kheda
18         Mahesana
19        Mahisagar
20            Morbi
21          Narmada
22          Navsari
23     Panch Mahals
24            Patan
25        Porbandar
26           Rajkot
27     Sabar Kantha
28            Surat
29    Surendranagar
30             Tapi
31         Vadodara
32           Valsad

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [7]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Ahmedabad": ["Ahmadabad"],
    "Banas Kantha": ["Banaskantha"],
    "Dangs": ["Dang", "The Dangs"],
    "Dahod": ["Dohad"],
    "Panch Mahals": ["Panchmahals"],
    "Sabar Kantha": ["Sabarkantha"],
    "Surendranagar": ["Surendra Nagar"]

}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Ahmedabad : 53 rows fixed
âœ” Enrolment â†’ Banas Kantha : 90 rows fixed
âœ” Enrolment â†’ Dangs : 16 rows fixed
âœ” Enrolment â†’ Dahod : 45 rows fixed
âœ” Enrolment â†’ Panch Mahals : 62 rows fixed
âœ” Enrolment â†’ Sabar Kantha : 83 rows fixed
âœ” Enrolment â†’ Surendranagar : 75 rows fixed
âœ” Demographic â†’ Ahmedabad : 142 rows fixed
âœ” Demographic â†’ Banas Kantha : 164 rows fixed
âœ” Demographic â†’ Dangs : 23 rows fixed
âœ” Demographic â†’ Dahod : 54 rows fixed
âœ” Demographic â†’ Panch Mahals : 157 rows fixed
âœ” Demographic â†’ Sabar Kantha : 224 rows fixed
âœ” Demographic â†’ Surendranagar : 172 rows fixed
âœ” Biometric â†’ Ahmedabad : 447 rows fixed
âœ” Biometric â†’ Banas Kantha : 451 rows fixed
âœ” Biometric â†’ Dangs : 77 rows fixed
âœ” Biometric â†’ Dahod : 163 rows fixed
âœ” Biometric â†’ Panch Mahals : 457 rows fixed
âœ” Biometric â†’ Sabar Kantha : 675 rows fixed
âœ” Biometric â†’ Surendranagar : 510 rows fixed
âœ… Total fixes in Gujarat: 4140

In [8]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)