# District Cleaning â€” Haryana

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [5]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [9]:
STATE_NAME = "Haryana"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Haryana
Number of unique districts: 22

    District Name
0          Ambala
1         Bhiwani
2   Charkhi Dadri
3       Faridabad
4       Fatehabad
5        Gurugram
6           Hisar
7         Jhajjar
8            Jind
9         Kaithal
10         Karnal
11    Kurukshetra
12   Mahendragarh
13            Nuh
14         Palwal
15      Panchkula
16        Panipat
17         Rewari
18         Rohtak
19          Sirsa
20        Sonipat
21    Yamunanagar

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [7]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Gurugram": ["Gurgaon"],
    "Jhajjar": ["Jhajjar *"],
    "Nuh": ["Mewat"],
    "Yamunanagar": ["Yamuna Nagar"]
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Gurugram : 49 rows fixed
âœ” Enrolment â†’ Nuh : 16 rows fixed
âœ” Enrolment â†’ Yamunanagar : 26 rows fixed
âœ” Demographic â†’ Gurugram : 175 rows fixed
âœ” Demographic â†’ Nuh : 47 rows fixed
âœ” Demographic â†’ Yamunanagar : 92 rows fixed
âœ” Biometric â†’ Gurugram : 423 rows fixed
âœ” Biometric â†’ Nuh : 109 rows fixed
âœ” Biometric â†’ Yamunanagar : 242 rows fixed
âœ… Total fixes in Haryana: 1179

In [8]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)