# District Cleaning â€” Rajasthan

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [1]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [2]:
STATE_NAME = "Rajasthan"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Rajasthan
Number of unique districts: 42

       District Name
0              Ajmer
1              Alwar
2            Balotra
3           Banswara
4              Baran
5             Barmer
6             Beawar
7          Bharatpur
8           Bhilwara
9            Bikaner
10             Bundi
11      Chittaurgarh
12       Chittorgarh
13             Churu
14             Dausa
15              Deeg
16          Dhaulpur
17           Dholpur
18  Didwana-Kuchaman
19         Dungarpur
20        Ganganagar
21       Hanumangarh
22            Jaipur
23         Jaisalmer
24             Jalor
25            Jalore
26          Jhalawar
27         Jhunjhunu
28        Jhunjhunun
29           Jodhpur
30           Karauli
31              Kota
32            Nagaur
33              Pali
34        Pratapgarh
35         Rajsamand
36          Salumbar
37    Sawai Madhopur
38             Sikar
39            Sirohi
40              Tonk
41           Udaipur

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [3]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Chittorgarh": ["Chittaurgarh"],
    "Dholpur": ["Dhaulpur"],
    "Jalore": ["Jalor"],
    "Jhunjhunu": ["Jhunjhunun"],
}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Chittorgarh : 230 rows fixed
âœ” Enrolment â†’ Dholpur : 76 rows fixed
âœ” Enrolment â†’ Jalore : 1285 rows fixed
âœ” Enrolment â†’ Jhunjhunu : 2347 rows fixed
âœ” Demographic â†’ Chittorgarh : 126 rows fixed
âœ” Demographic â†’ Dholpur : 22 rows fixed
âœ” Demographic â†’ Jalore : 297 rows fixed
âœ” Demographic â†’ Jhunjhunu : 697 rows fixed
âœ” Biometric â†’ Chittorgarh : 396 rows fixed
âœ” Biometric â†’ Dholpur : 76 rows fixed
âœ” Biometric â†’ Jalore : 1153 rows fixed
âœ” Biometric â†’ Jhunjhunu : 2600 rows fixed
âœ… Total fixes in Rajasthan: 9305

In [4]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)