# District Cleaning â€” Telangana

This notebook standardizes **district names** for this state across:
- Enrolment data
- Demographic update data
- Biometric update data

**All data is saved back to the same cleaned files.**

In [2]:
import pandas as pd
from pathlib import Path

pd.set_option("display.max_rows", None)
pd.set_option("display.width", None)

CLEAN_DIR = Path("../../data/processed/cleaned")

enrol_df = pd.read_csv(CLEAN_DIR / "enrolment_clean.csv")
demo_df  = pd.read_csv(CLEAN_DIR / "demographic_clean.csv")
bio_df   = pd.read_csv(CLEAN_DIR / "biometric_clean.csv")

for df in [enrol_df, demo_df, bio_df]:
    df["state"] = df["state"].astype(str).str.strip().str.title()
    df["district"] = df["district"].astype(str).str.strip().str.title()

print("âœ… All datasets loaded and normalized (Title Case)")

âœ… All datasets loaded and normalized (Title Case)

In [25]:
STATE_NAME = "Telangana"

districts = sorted(
    set(
        enrol_df.loc[enrol_df["state"] == STATE_NAME, "district"].dropna()
        .tolist()
    )
)

print(f"State: {STATE_NAME}")
print(f"Number of unique districts: {len(districts)}")

pd.DataFrame(
    {"District Name": districts}
)

State: Telangana
Number of unique districts: 33

              District Name
0                  Adilabad
1      Bhadradri Kothagudem
2               Hanumakonda
3                 Hyderabad
4                   Jagtial
5                   Jangaon
6   Jayashankar Bhupalpally
7          Jogulamba Gadwal
8                 Kamareddy
9                Karimnagar
10                  Khammam
11   Komaram Bheem Asifabad
12              Mahabubabad
13             Mahabubnagar
14               Mancherial
15                    Medak
16       Medchalâ€“Malkajgiri
17                   Mulugu
18             Nagarkurnool
19                 Nalgonda
20               Narayanpet
21                   Nirmal
22                Nizamabad
23               Peddapalli
24         Rajanna Sircilla
25              Ranga Reddy
26               Sangareddy
27                 Siddipet
28                 Suryapet
29                Vikarabad
30               Wanaparthy
31                 Warangal
32      Yadadri Bhuvanagiri

## District Mapping

Add mappings in **Title Case only**.

Format:
```python
DISTRICT_MAPPING = {
    "Correct District": ["Wrong Name 1", "Wrong Name 2"],
}
```

In [23]:
DISTRICT_MAPPING = {
    # "Correct District": ["Wrong Variant 1", "Wrong Variant 2"]
    "Jagtial": ["Jagitial"],
    "Jangaon": ["Jangoan"],
    "Ranga Reddy": ["K.V. Rangareddy","Rangareddy", "K.V.Rangareddy", "Ranga Reddy", "Rangareddi"],
    "Kumuram Bheem Asifabad": ["Komaram Bheem"],
    "Medchalâ€“Malkajgiri": ["Medchal Malkajgiri","Medchal-Malkajgiri","Medchal?Malkajgiri","Medchalâˆ’Malkajgiri"],
    "Warangal": ["Warangal (Urban)","Warangal Urban","Warangal Rural"],
    "Yadadri Bhuvanagiri": ["Yadadri."],
    "Karimnagar" : ["Karim Nagar"],
    "Mahabubnagar" : ["Mahabub Nagar", "Mahbubnagar"]


}

def apply_mapping(df, state, mapping, label):
    total = 0
    for correct, wrongs in mapping.items():
        mask = (
            (df["state"] == state) &
            (df["district"].isin(wrongs))
        )
        count = mask.sum()
        df.loc[mask, "district"] = correct
        total += count
        if count > 0:
            print(f"âœ” {label} â†’ {correct} : {count} rows fixed")
    return total

total_fixes = 0
total_fixes += apply_mapping(enrol_df, STATE_NAME, DISTRICT_MAPPING, "Enrolment")
total_fixes += apply_mapping(demo_df,  STATE_NAME, DISTRICT_MAPPING, "Demographic")
total_fixes += apply_mapping(bio_df,   STATE_NAME, DISTRICT_MAPPING, "Biometric")

print(f"âœ… Total fixes in {STATE_NAME}: {total_fixes}")

âœ” Enrolment â†’ Ranga Reddy : 229 rows fixed
âœ” Demographic â†’ Ranga Reddy : 817 rows fixed
âœ” Biometric â†’ Ranga Reddy : 2810 rows fixed
âœ… Total fixes in Telangana: 3856

In [20]:
enrol_df.to_csv(CLEAN_DIR / "enrolment_clean.csv", index=False)
demo_df.to_csv(CLEAN_DIR / "demographic_clean.csv", index=False)
bio_df.to_csv(CLEAN_DIR / "biometric_clean.csv", index=False)

print("ðŸ’¾ All cleaned files saved successfully (overwritten)")

ðŸ’¾ All cleaned files saved successfully (overwritten)